In [1]:
import pandas as pd

# Load the dataset into a pandas dataframe.
df = pd.read_csv("in_domain_train.tsv", delimiter='\t', header=None, names=['sentence_source', 'label', 'label_notes', 'sentence'])

# Report the number of sentences.
print('Number of training sentences: {:,}\n'.format(df.shape[0]))

# Display 10 random rows from the data.
df.sample(10)

Number of training sentences: 8,551

,sentence_source,label,label_notes,sentence
935,bc01,0,*,"I'll turn the radio down, but I won't up."
187,cj99,0,*,"The more books I ask to whom he will give, the..."
5791,c_13,0,*,the book with a red cover from Blackwell by Ro...
7790,ad03,0,*,Any boy saw no one.
4317,ks08,1,NaN,There seems to be a fountain in the park.
1297,r-67,0,*,Which quonset hut does the boy work in a skysc...
8072,ad03,1,NaN,Some disgruntled old pigs in those ditches lov...
5799,c_13,0,*,Susan did so the baker.
6155,c_13,0,*,A book was sent Louis.
8457,ad03,1,NaN,Medea might have given Jason a poisoned robe (...

In [12]:
req_df = df[['sentence', 'label']]

total_items = len(req_df)
print(f"total = {total_items}")
print(f"corrects = {len(req_df.loc[req_df.label == 1])}")
print(f"incorrects = {len(req_df.loc[req_df.label == 0])}")
req_df.head()

total = 8551
corrects = 6023
incorrects = 2528

                                            sentence  label
0  Our friends won't buy this analysis, let alone...      1
1  One more pseudo generalization and I'm giving up.      1
2   One more pseudo generalization or I'm giving up.      1
3     The more we study verbs, the crazier they get.      1
4          Day by day the facts are getting murkier.      1

In [ ]:
req_df.sample(frac=1).to_csv("examples_biased.csv", index=False, header=False)

In [51]:
train_sample_size = 25
cohere_examples = req_df.groupby('label', group_keys=False).apply(lambda x: x.sample(train_sample_size))

print(f"total = {len(cohere_examples)}")
print(f"corrects = {len(cohere_examples.loc[cohere_examples.label == 1])}")
print(f"incorrects = {len(cohere_examples.loc[cohere_examples.label == 0])}")
cohere_examples.sample(frac=1).to_csv("examples_25.csv", index=False, header=False)

total = 50
corrects = 25
incorrects = 25

In [50]:
train_sample_size = 2000
cohere_examples = req_df.groupby('label', group_keys=False).apply(lambda x: x.sample(train_sample_size))

print(f"total = {len(cohere_examples)}")
print(f"corrects = {len(cohere_examples.loc[cohere_examples.label == 1])}")
print(f"incorrects = {len(cohere_examples.loc[cohere_examples.label == 0])}")
cohere_examples.sample(frac=1).to_csv("examples_2000.csv", index=False, header=False)

rest = req_df.append(cohere_examples).drop_duplicates(keep=False)
print(f"total = {len(rest)}")
print(f"corrects = {len(rest.loc[rest.label == 1])}")
print(f"incorrects = {len(rest.loc[rest.label == 0])}")
test = req_df.groupby('label', group_keys=False).apply(lambda x: x.sample(520))

print(f"total = {len(test)}")
print(f"corrects = {len(test.loc[test.label == 1])}")
print(f"incorrects = {len(test.loc[test.label == 0])}")

test.sample(frac=1).to_csv("grammar_test.csv", index=False, header=False)

total = 4000
corrects = 2000
incorrects = 2000
total = 4545
corrects = 4017
incorrects = 528
total = 1040
corrects = 520
incorrects = 520